p{
    margin-top: 0;
    padding-bottom: 0;
}

body{
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 55px;
    background-color: #18181b;
    padding: 50px;
}

/*
#18181b;
    --zinc-950: #09090b;
    --zinc-950: #0e0e11;

*/